waterfall-chart {
  .bar.result rect {
    fill: #97a2af;
  }

  .bar.middle rect {
    fill: #193793;
  }

  .bar.initial rect {
    fill: #4c5667;
  }

  rect.bar.veil {
    fill: white;
    opacity: 1;
  }

  .bar line.connector {
    stroke: #193793;
    stroke-dasharray: 3;
    display: none;
  }

  .bar text {
    fill: black;
    font: 11px 'Nirmala UI';
    text-anchor: middle;
    display: none;
  }

  .tick text {
    font: 11px 'Nirmala UI';
    fill: #193793;
  }

  .tick path,
  .tick line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .waterfall-container {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 830px) {
    & {
      
    }
  }
}