$colors: (
  primary: #0B409C,
  secondary: #A7C1E3,
  light: #E2E8F0,
  dark: #47494D,
  dark-blue: #173567,
  light-blue: #3B65AD,
  ui-light: #ECEFF4
);

bu-filter {
  ion-toolbar {
    ion-buttons {
      display: flex;
      align-content: center;
      justify-content: space-around;
      
      button.bar-button {
        font-weight: bold;
        font-size: 11px;
        min-width: 50px;
      }

      button.bar-button.active {
        background: map-get($colors, 'primary');
        color: #fff;
      }
    }
  }
}
