<ion-toolbar>
  <ion-segment [(ngModel)]="activeButtonTitle" (ionChange)="selectPage($event)">
    <ion-segment-button value="home">
      <ion-icon class="icon-bb-map" name="icon-bb-map"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-icon class="icon-bb-search" name="icon-bb-search"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="swichers">
      <ion-icon class="icon-bb-filter" name="icon-bb-filter"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="profile-settings">
      <ion-icon class="icon-bb-preferences" name="icon-bb-preferences"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
