
filter-counter {
  span {
    position: absolute;
    bottom: 3px;
    left: 26px;
    background-color: red;
    font-size: 11px;
    padding: 2px 6px 3px 5px;
    border-radius: 10px;
    font-weight: bolder;
  }
}