<ion-content>
  <div class="content-container">
    <div>
      <h1>
        <ion-icon name="icon-security"></ion-icon>
        Security
      </h1>
    </div>
    <form [formGroup]="passwordsForm" (ngSubmit)="changePassword()" novalidate>
      <div class="inputs">
        <ion-list>
          <ion-item>
            <ion-label *ngIf="isError('oldPassword', 'required')" class="error" stacked>{{'error_old_password_required' | text}}</ion-label>
            <ion-label *ngIf="isError('oldPassword', 'pattern')" class="error" stacked>{{'password_invalid' | text}}</ion-label>
            <ion-input [(ngModel)]="passwords.oldPassword" formControlName='oldPassword' type="password" placeholder="Old Password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label *ngIf="isError('password', 'required')" class="error" stacked>{{'error_password_required' | text}}</ion-label>
            <ion-label *ngIf="isError('password', 'pattern')" class="error" stacked>{{'password_invalid' | text}}</ion-label>
            <ion-input [(ngModel)]="passwords.password" formControlName='password' type="password" placeholder="New Password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label *ngIf="isError('confPass', 'required')" class="error" stacked>{{'error_confirm_password_required' | text}}</ion-label>
            <ion-label *ngIf="isError('confPass', 'validateEqual')" class="error" stacked>{{'error_confirm_password' | text}}</ion-label>
            <ion-input [(ngModel)]="passwords.confPass" formControlName='confPass' type="password" placeholder="Confirm Password"></ion-input>
          </ion-item>
          <ion-item>
            <button [disabled]="isFormValid(passwordsForm)" type="submit" ion-button block>SAVE SETTINGS</button>
          </ion-item>
        </ion-list>
      </div>
      <div class="error-messages">
        <p *ngIf="passwordsForm.controls.confPass?.errors?.validateEqual === false">
          The new passwords don't match.
        </p>
        <p *ngIf="passwordsForm.controls.password?.errors?.minlength ||
        passwordsForm.controls.confPass?.errors?.minlength ||
        passwordsForm.controls.oldPassword?.errors?.minlength">
          The minimal length of a password is 6 symbols.
        </p>
      </div>
    </form>
  </div>
</ion-content>