<ion-header>
  <header [isButtonEnabled]="false"></header>
</ion-header>
<ion-content>
  <div class="content-container">
    <div>
      <h1>PROFILE SETTINGS</h1>
    </div>
    <form [formGroup]="passwordsForm" (ngSubmit)="changePassword()" novalidate>
      <div class="inputs">
        <ion-input [(ngModel)]="passwords.oldPassword" formControlName='oldPassword' type="password" placeholder="Old Password"></ion-input>
        <ion-input [(ngModel)]="passwords.password" formControlName='password' type="password" placeholder="New Password"></ion-input>
        <ion-input [(ngModel)]="passwords.confPass" formControlName='confPass' type="password" placeholder="Confirm Password"></ion-input>
        <button [disabled]="isFormValid(passwordsForm)" type="submit" ion-button block>SAVE SETTINGS</button>
      </div>
    </form>
  </div>
</ion-content>
<ion-footer>
  <footer [activeButtonTitle]="'profile-settings'" [preventNav]="['profile-settings']"></footer>
</ion-footer>