$colors: (
  primary: #0B409C,
  secondary: #A7C1E3,
  light: #E2E8F0,
  dark: #47494D,
  dark-blue: #173567,
  light-blue: #3B65AD,
  ui-light: #ECEFF4,
  page-background: #F8F9FA
);

profile-settings-page {

  ion-content {

    div.scroll-content {
      background: map-get($colors, "page-background");

      h1 {
        font-weight: 300;
        font-size: 16px;
        color: #000;
      }

      div.content-container {
        width: 500px;
        height: 420px;
        padding: 40px 50px !important;
        margin: auto;
      }

      form {
        display: flex;
        flex-direction: column;
        div.inputs {
          overflow: visible;

          ion-input {
            width: 100%;
            font-size: 15px;
            line-height: 28px;
            margin: 10px 0;
            float: left;
            background: white;
            border-radius: 4px;
            padding: 0 30px;
            box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.05);
          }

          button {
            font-size: 13px;
            font-weight: bold;
            width: initial;
            height: 55px;
            padding: 0px 56px;
            border-radius: 28px;
            margin-top: 20px;
            float: left;
            box-shadow: 0px 5px 15px 0px rgba(11,64,156,0.5);
          }
        }

        div.error-messages {
          p {
            color: #8b0000;
          }
        }
      }
    }
  }
}