svg {
  g.map {
    path {
      stroke-linejoin: round;
      stroke-linecap: round;
      stroke: #3b65ad;
    }

    path {
      fill: url(#map-background);
    }

    path.selected {
      fill: url(#map-background-selected);
    }

    .marker {
      pointer-events: all;
      fill: #0B409C;
      stroke: #EFF3FA;

      &>circle {
        stroke-width: 4px;
      }

      .label-text {
        fill: rgb(18, 65, 145);
        font-weight: bold;
      }

      &.red {
        fill: rgb(192, 0, 0);
      }

      &.selected-city {
        fill: #429437;
      }

      &.selected-country {
        fill: #9e9e9e;
      }

      &.selected-market {
        fill: #5d5d5d;
      }
    }
  }
}