svg {
  * {
    vector-effect: non-scaling-stroke;
  }
  g.map {
    path {
      stroke-linejoin: round;
      stroke-linecap: round;
      vector-effect: non-scaling-stroke;
    }

    path {
      fill: url(#map-background);
    }

    path.selected {
      fill: url(#map-background-selected);
    }

    .marker {
      pointer-events: all;
      fill: #0B409C;
      stroke: #EFF3FA;
      vector-effect: non-scaling-stroke;

      &>circle {
        stroke-width: 4px;
      }

      .label-text {
        color: rgb(18, 65, 145);
        font-weight: bold;
      }
    }
  }
}