<div class="outer"> <!-- User management division start -->
    <div class="middle">
    <div class="inner">
      <h2>User Management</h2>
      <div class="table-responsive" style="height:70vh">                
        <table class="table">
          <tbody>
            <tr *ngFor="let user of users; let i=index">
              <td>
                <h4>{{user | user:"name"}}</h4>
                <span>{{user | user:"role"}}</span>
                <br>
                <span>{{user.emails[0].address}}</span>
              </td>
              <td>
                <div class="radio">
                  <label>
                    <input type="radio" name="{{i}}" (click)="updateRole(user, 'Administrator')"
                    [checked]="user.role == 'Administrator'">Administrator
                  </label>
                </div>
              </td>
              <td>
                <div class="radio">
                  <label>
                    <input type="radio" name="{{i}}" (click)="updateRole(user, 'Customer')"
                      [checked]="user.role != 'Administrator'">Customer
                  </label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <p style="float: left; color: greenyellow">{{message}}</p>
        <div class="button-right">
          <button name="submit" class="btn btn-primary" (click)='save_users()'>Save</button>
          <div class="box">
            <a class="btn btn-primary" href="/users#popup1">Add New User</a>
          </div>
          <div id="popup1" class="overlay"> <!-- pop up start -->
            <div class="popup">
              <div class="content">
                <div class="pop-up">
                  <div class="pop-name">
                    <h3>Add New User</h3> <a class="close" href="/users#">&times;</a>
                  </div>
                  <div class="pop-details">
                    <form>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Full Name" [(ngModel)]="new_user.name" name="full_name">
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email" [(ngModel)]="new_user.emailId" name="emailId">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" aria-describedby="PasswordHelp" placeholder="Password" [(ngModel)]="new_user.password" name="password">
                      </div>
                      <div class="form-group">
                        <div class="radio">
                          <label>
                            <input type="radio" [(ngModel)]="new_user.role" value="Administrator" name="role">Administrator
                          </label>
                          <label>
                            <input type="radio" [(ngModel)]="new_user.role" value="Customer" name="role">Customer
                          </label>
                        </div>
                      </div>
                      <p style="float: left; color: greenyellow">{{new_user_message}}</p>
                      <div class="button-right">
                        <button name="submit" value="submit" class="btn btn-primary" (click)="create_user()">Save</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- pop up end -->
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <img src="img/1.jpg" style="position: absolute;margin: 0px;padding: 0px;border: none;width: 100%;height: 100%;max-width: none;z-index: -999999;left: 0px;top: 0px;">
</div> <!-- User management division end -->