// @import "{}/node_modules/ionic-angular/themes/ionic.build.default.scss";

@import "{}/node_modules/ionic-angular/themes/ionic.globals.scss";

// Shared Variables
// —------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-..

// Named Color Variables
// —------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// $colors: (
// primary: #0B409C,
// secondary: #32db64,
// danger: #f53d3d,
// light: #f4f4f4,
// dark: #222
// );

$colors: (
  primary: #0B409C,
  secondary: #A7C1E3,
  light: #E2E8F0,
  dark: #47494D,
  dark-blue: #173567,
  light-blue: #3B65AD,
);

// App iOS Variables
// —------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// —------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// —------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// —------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "{}/node_modules/ionic-angular/themes/ionic.theme.default.scss";
@import "./ionic/ionic.components.scss";

// Ionicons
// —------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "{}/node_modules/ionicons/dist/scss/ionicons.scss";
@import "./icons.scss";

// Fonts
// —------------------------------------------------

// @import "roboto";
// @import "noto-sans";

ion-menu#filter-menu {
  &>div.menu-inner {
    width: 330px;
    ion-content {
      background-color: map-get($colors, 'light-blue');
      &>.scroll-content{
        overflow: hidden;
      }
    }
  }

  ion-toolbar {
    background-color: map-get($colors, 'light-blue');
    &.header {
      height: 90px;
      ion-title {
        background-color: map-get($colors, 'light-blue');
        align-items: flex-start;
        padding: 47px 40px;
        div.toolbar-title {
          font-size: 22px;
          text-align: left;
          color: map-get($colors,'light');
          font-weight: 400;
          letter-spacing: 3px;
        }
      }
    }

    &.subheader{
      padding: 0;
      .toolbar-background {
        border: none;
      }
      .toolbar-content {
        background-color: map-get($colors, 'light-blue');
        p {
          font-size: 16px;
          color: map-get($colors,'secondary');
          width: 227px;
          line-height: 23px;
          margin: 0 0 40px 40px;
        }
      }
    }
  }
}

data-filter {
  background-color: map-get($colors, 'light-blue');

  &>ion-list.list {
    background-color: map-get($colors, 'light-blue');
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    margin: 0 !important;
    overflow: hidden;
    ion-item.item.item-block {
      background-color: map-get($colors, 'light-blue');
      border: none;
      padding: 0;

      &:first-child, &:last-child {
        border: none !important;
      }

      &.categories {
        .input-wrapper {
          height: 100px;
          background: rgba(0,0,0, .07);
        }
        ion-label {
          margin: 0;
          height: 100%;
          ion-segment.segment {
            padding: 0 20px;
            height: 100%;
            ion-segment-button.segment-button {
              border: none;
              display: flex;
              height: 100%;
              color: map-get($colors,'secondary');
              flex-direction: column;
              align-items: center;
              justify-content: center;
              font-size: 11px;
              font-weight: bold;
              ion-icon {
                line-height: 30px;
                font-size: 30px;
              }
              &.segment-activated {
                color: map-get($colors,'light');
                background: none;
              }
            }
          }
        }
      }

      &.search-input {
        margin: 40px;
        width: 250px;
        height: 50px;
        margin-bottom: 15px;
        div.item-inner {
          div.input-wrapper {
            display: flex;
            background: map-get($colors,'light');
            border-radius: 4px;
            color: map-get($colors,'secondary');
            padding-left: 20px;
          }
        }
        ion-label {
          ion-icon {
            font-size: 27px;
            line-height: 27px;
          }
        }
        ion-input.input {
          background: map-get($colors,'light');
          border-radius: 4px;
          input.text-input {
            margin-left: 0px;
            font-size: 14px;
            width: 98%;
            line-height: 25px;
          }
        }
      }

      &.applied-filters {
        margin-bottom: 35px;
        ion-label {
          margin: 0;
          padding: 0 35px;
          applied-filters {
            white-space: initial;
          }
          ion-chip {
            margin: 5px;
            height: 35px;
            background: transparent;
            border: 1px solid map-get($colors,'secondary');
            border-radius: 4px;
            color: map-get($colors,'light');
            ion-label {
              font-size: 14px;
              padding: 0 10px;
            }
            button {
              margin: 0;
              width: 33px;
              height: 33px;
              font-size: 14px;
              background: transparent;
              padding: 0;
              border-radius: 4px;
              box-shadow: none;
              ion-icon {
                width: 33px;
                height: 33px;
                border-radius: 4px;
                font-size: 25px;
                color: map-get($colors,'secondary');
                line-height: 32px;
              }
            }
          }
        }
      }

      &.options {
        flex-grow: 1;
        ion-label {
          height: 100%;
          margin: 0;
          padding-bottom: 20px;
          ion-scroll {
            height: 100%;
            margin: 0 40px;
            ion-list {
              button.item {
                border: none;
                background: transparent;
                font-size: 14px;
                padding: 0;
                color: map-get($colors,'light');
                line-height: 42px;
                ion-label {
                  padding: 0;
                }

                .item-inner {
                  background-image: none;
                }
              }
            }
          }
        }
      }

      div.item-inner {
        border: none;
        padding: 0;
        .input-wrapper {
          display: block;
        }
      }
    }
  }
}