$colors: (
  primary: #0B409C,
  secondary: #A7C1E3,
  light: #E2E8F0,
  dark: #47494D,
  dark-blue: #173567,
  light-blue: #3B65AD,
  ui-light: #ECEFF4,
  page-background: #F8F9FA
);

map-switchers {

  form {
    width: 394px;
    margin: 105px auto;

    div.upload-button-wrap {
      justify-content: center;
      display: flex;
      align-items: center;
      padding: 20px 32px;
      margin-top: 30px;
      border-top: 1px solid map-get($colors, 'light');

      &>button.button {
        width: 40px;
        height: 40px;
        font-size: 12px;
      }

      &>span {
        font-size: 13px;
        font-weight: bold;
        color: map-get($colors, 'light-blue');
        margin-right: 15px;
      }
    }
  }

  div.toggle-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &>button.button {
      color: black;
      font-weight: 400;

      &.active {
        font-weight: 600;
      }
    }

    ion-toggle {
      width: 60px;
      height: 30px;
      position: absolute;
      right: 0;
      left: 0;
      margin: auto;

      div.toggle-icon {
        position: relative;
        display: block;
        width: 60px;
        height: 30px;
        border-radius: 16px;
        background-color: #fff;
        transition: background-color 300ms;
        pointer-events: none;
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);

        &:before {
          position: absolute;
          top: 2px;
          right: 2px;
          bottom: 2px;
          left: 2px;
          border-radius: 16px;
          content: "";
          transform: scale3d(1, 1, 1);
          transition: transform 300ms;
        }

        &.toggle-checked {
          div.toggle-inner {
            transform: translate3d(30px, 0, 0);
          }
        }

        div.toggle-inner {
          position: absolute;
          top: 4px;
          left: 4px;
          height: 22px;
          width: 22px;
          border-radius: 14px;
          background-color: map-get($colors, 'light-blue');
          box-shadow: 0px 0px 15px 0px rgba(11, 64, 156, 0.5)
        }
      }
    }
  }
}
