$colors: (
  primary: #0B409C,
  secondary: #A7C1E3,
  light: #E2E8F0,
  dark: #47494D,
  dark-blue: #173567,
  light-blue: #3B65AD,
  ui-light: #ECEFF4,
  page-background: #F8F9FA
);

signin-page {

  ion-content {

    div.scroll-content {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #E4E8ED;

      form {
        width: 500px;
        // height: 420px;
        padding: 40px 50px !important;
        border-radius: 4px;
        background-color: map-get($colors, 'page-background');

        &>div:first-child {
          margin-left: 5px;
        }

        h1, h2 {
          font-weight: 400;
          color: map-get($colors, 'primary');
        }

        h1 {
          font-size: 22px;
        }

        h2 {
          font-size: 15px;
          width: 295px;
          line-height: 23px;
        }

        div.inputs {
          overflow: hidden;
          margin-top: 30px;

          ion-list.list {
            margin: 0;
          }

          ion-item.item {
            background-color: transparent;
            border-top: none;
            border-bottom: none;
            padding: 0;

            div.item-inner {
              border-bottom: none;
            }
          }

          ion-label.error {
            color: red;
            white-space: normal;
          }

          ion-input {
            width: 98%;
            font-size: 15px;
            line-height: 28px;
            margin: 10px 5px;
            float: left;
            background: white;
            border-radius: 4px;
            padding: 0 30px;
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
            border: none;

            &.ng-dirty {
              border-left: 4px solid;
            }

            &.ng-dirty.ng-invalid {
              border-left-color: red;
            }

            &.ng-dirty.ng-valid {
              border-left-color: green;
            }
          }

          button {
            font-size: 13px;
            font-weight: bold;
            width: initial;
            height: 55px;
            padding: 0px 56px;
            border-radius: 28px;
            margin-top: 20px;
            float: left;
            margin: 10px;
          }
        }
      }
    }
  }
}