<ion-header>
  <header [isButtonEnabled]="false"></header>
</ion-header>
<ion-content>
  <form vertical-center [formGroup]="loginForm" (ngSubmit)="login()" novalidate padding>
    <div>
      <h1>WELCOME,</h1>
      <h2>Log into your account to start exploring and comparing markets across the globe</h2>
    </div>
    <div class="inputs">
      <ion-list>
        <ion-item>
          <ion-label *ngIf="isError('email', 'required')" class="error" stacked>{{'error_email_required' | text}}</ion-label>
          <ion-label *ngIf="isError('email', 'pattern')" class="error" stacked>{{'email_invalid' | text}}</ion-label>
          <ion-input [(ngModel)]="loginCredentials.email" formControlName='email' type="email" placeholder="E-mail"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label *ngIf="isError('password', 'required')" class="error" stacked>{{'error_password_required' | text}}</ion-label>
          <ion-label *ngIf="isError('password', 'pattern')" class="error" stacked>{{'password_invalid' | text}}</ion-label>
          <ion-input [(ngModel)]="loginCredentials.password" formControlName='password' type="password" placeholder="Password"></ion-input>
        </ion-item>
        <ion-item>
          <button type="submit" ion-button block [disabled]="isFormValid(loginForm)">SIGN IN</button>
        </ion-item>
      </ion-list>
    </div>
  </form>
</ion-content>
<ion-footer>
</ion-footer>
