<div id="slider" style="text-align: center;" (touchstart)="touchStart($event,'slider');" (touchend)="touchEnd($event);" 
  (touchmove)="touchMove($event);" (touchcancel)="touchCancel($event);" *ngIf="!displayNav">
  <span style="font-size:25px;cursor:pointer; z-index: 999;" (click)="displayNav = true">&#9776;</span> 
</div>

<div class="container-fluid open-sidebar" id="map-section" (click)="render_page()">
  <div class="row"> 
    <div class="sidebar" id="sidebar" *ngIf="displayNav" (touchstart)="touchStart($event,'slider');" (touchend)="touchEnd($event);" (touchmove)="touchMove($event);" (touchcancel)="touchCancel($event);">
      <span style="font-size:25px; padding-right:10px; cursor:pointer;position: relative; z-index: 999; float:right" (click)="displayNav = false">X</span>

      <!-- Market Section -->
      <div class="ac-container" >
        <input type="checkbox" class="radio-hidden" [(ngModel)]="acc.market">
        <label style="display:block">
          <div class='dotted-spaced' (click)="render_market()">          
            <img class="img_dsh" src="img/market.png"/><span>Markets</span>
          </div>          
        </label>
        <article class="ac-small">
          <div class="checkbox" *ngFor="let market of markets">
            <label>
              <input type="radio" ngControl="market" class="radio-hidden"
                [(ngModel)]="market['checked']" (click)="render_market(market)"> {{market.name}}
            </label>
          </div>
        </article>
      </div>

      <!-- Country Section -->
      <div class="ac-container" >
        <input type="checkbox" class="radio-hidden" [(ngModel)]="acc.country">
        <label style="display:block">
          <div class='dotted-spaced' (click)="render_country()">          
            <img class="img_dsh" src="img/country.png"/><span>Country</span>
          </div>          
        </label>
        <article class="ac-small">
          <div class="checkbox" *ngFor="let country of countries">
            <label>
              <input type="radio" ngControl="country" class="radio-hidden"
                [(ngModel)]="country['checked']" (click)="render_country(country)"> {{country.name}}
            </label>
          </div>
        </article>
      </div>      


      <!-- City Section -->
      <div class="ac-container" >
        <input type="checkbox" class="radio-hidden" [(ngModel)]="acc.city">
        <label style="display:block">
          <div class='dotted-spaced' (click)="render_city()">          
            <img class="img_dsh" src="img/city.png"/><span>City</span>
          </div>          
        </label>
        <article class="ac-small">
          <div class="checkbox" *ngFor="let city of cities">
            <label>
              <input type="radio" ngControl="city" class="radio-hidden"
                [(ngModel)]="city['checked']" (click)="render_city(city)"> {{city.name}}
            </label>
          </div>
        </article>
      </div> 


    </div>
  </div>
  <div class="col-sm-12 main">
    <div class="main-content">
      <div class="content">
        <div id="map">
        </div>
      </div>
    </div>
  </div>
</div>
<fsc [fsc]="fsc"></fsc>