#slider {
  height: 100%;
  width: 50px;
  background: #eeeeee;
  z-index: 9999;
  position: absolute;
}

.dotted-spaced {
  background-image: linear-gradient(to right, #333 30%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 8px 2px;
  background-repeat: repeat-x;
  float: left;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #aeaeae;
  cursor: pointer;
}
.img_dsh {
    width: 25px;
    float: left;
    margin-right: 5px;
}

.background {
  fill: none;
  pointer-events: all;
}

#map {    
  position: fixed;
}
.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.sidebar {
    background-color: #eeeeee;
    padding-top: 0px;
    height: 100%;
    z-index: 999;
}
.sidebar a{
  font-size: 25px;
  float: right;
}
.sidebar a:hover{
  text-decoration: none;
}
.close-section {
  float: left;
  width: 100%;
  background-color: #255985;
  height: 40px;
  padding-right: 8px;
}
.close-section a{
  color: #fff;
  display: block;
  transition: 0.3s;
  text-decoration: none;
}
.close-section a:hover, .close-section a:focus{
    color: #f1f1f1;
}
li:hover {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    color: #337ab7;
}
li {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}
.nav.nav-sidebar {
    height: 198px;
    overflow-y: scroll;
}
.nav.nav-sidebar li {
    display: flex;
}
.nav.nav-sidebar li div {
    padding-left: 5px;
}
body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: helvetica;
    font-weight: 100;
    background-color: #f3f3f3!important;
}
.container-fluid {
    position: relative;
    left: 0;
    -webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -ms-transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
}
.checkbox{
  line-height : 20px;
  text-transform: capitalize;
}
.main {
    padding-left: 0px!important;
    width: 100%;
}
.main .content {
    margin-top: 10px;
}
svg {
    -webkit-box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.75);
    background-color: #fff;
}

.main-content {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}
.main-content .content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
}
.main-content .content h1 {
    font-weight: 100;
}
.main-content .content p {
    width: 100%;
    line-height: 160%;
}
.place {
    fill: #333;
}
#sidebar {
    position: fixed;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 150px;

}
.dotted-spaced:hover{
  background-color:#fff;
  color:#333;

}

/* Accordion HTML Start*/
.checkbox label {
  padding-left: 0;
  min-height: 30px;
  padding: 7px 3px 7px 21px;
}
.radio-hidden {
    display: none;
}
.ac-container article {
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container input:checked ~ article {
  -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
}
.ac-container input:checked ~ article.ac-small {
  height: 200px;
  line-height: 1.8;
  overflow-y: visible;
  padding: 0px 0px 0px 1px;
}   
.ac-container .checkbox:hover{
  background:#3e64a4;
  color:white;
}
/* Accordion HTML End */