.dotted-spaced {
  background-image: linear-gradient(to right, #333 30%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 8px 2px;
  background-repeat: repeat-x;
  float: left;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #aeaeae;
  cursor: pointer;
}
.img_dsh {
    width: 25px;
    float: left;
    margin-right: 5px;
}

.background {
  fill: none;
  pointer-events: all;
}

#map {    
  position: fixed;
  left: 160px;
}
.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}


.sidebar {
    background-color: #eeeeee;
    padding-top: 60px;
    height: 100%;
}
li:hover {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    color: #337ab7;
}
li {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}
.nav.nav-sidebar {
    height: 198px;
    overflow-y: scroll;
}
.nav.nav-sidebar li {
    display: flex;
}
.nav.nav-sidebar li div {
    padding-left: 5px;
}
body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: helvetica;
    font-weight: 100;
    background-color: #f3f3f3!important;
}
.container-fluid {
    position: relative;
    left: 0;
    -webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -ms-transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
}
.main {
    padding-left: 0px!important;
    width: 100%;
}
.main .content {
    margin-top: 10px;
}
svg {
    -webkit-box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.75);
    background-color: #fff;
}

.main-content {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}
.main-content .content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
}
.main-content .content h1 {
    font-weight: 100;
}
.main-content .content p {
    width: 100%;
    line-height: 160%;
}
.place {
    fill: #333;
}
#sidebar {
    position: fixed;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 150px;

}
.dotted-spaced:hover{
  background-color:#fff;
  color:#333;

}


/* Fact Sheets Start */

.fsc{
  background: #fff;
  padding: .5em;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
}
.table-div,
.table-div-inner {
  width: 580px;
  position: fixed;
  left: 200px;
  background: #ABABAB;
  border: 1px solid;
  padding: 10px 10px 10px 10px;
}
.bottom-data {
  width: 100%;
  float: left;
}
.table-div-inner {
  float: left;
  background: white;
  padding: 0px!important;
}
.button-align {
  float: right;
  margin-bottom: 8px;
  background: #000;
  border: 1px;
  color: #fff;
  font-weight: bold;
}
.close_button:hover
{
    background: red;
    color: white;
}
.row1 {
  background: #04368C!important;
  color: white;
}
.row2 {
  background: #BEC8D2!important;
}
.row3 {
  background: #5B9BD5!important;
}
.row4 {
  background: #5B9BD5!important;
}
.row5 {
  background: #DCE6F1!important;
}
.table-div-inner p {
  text-align: center;
  font-size: 10px;
}
.table2 .table-div {
  width: 60%!important;
}
.table2 .col-sm-4 {
  padding-left: 0px!important;
  padding-right: 2px!important;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border: 1.5px dotted white!important;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 3px!important;
    font-size: 10px;
}
.b1 {
  position: relative;
  display: block;
  top: 0;
  bottom: 0;
  width: 1.5em;
  background: #D1D3D4;
  height: 10px;
  float: left;
}
.b2 {
  float: left;
  position: relative;
  font-size: 8px;
  padding: 0 5px;
}
/* Fact Sheets End */