// TODO: add separate icon for reset filter button
.reset-btn {
  &:after {
    content: '\2716';
    background-color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 9px;
    color: #0B409C;
    position: absolute;
    top: 14px;
    left: 25px;
    padding-left: 0px;
    font-size: 10px;
    line-height: 13px;
  }

  &:hover:after {
    background-color: #E2E8F0;
  }
}

header {
  ion-title {
    h1 {
      font-size: 17px;
      margin: 0;
      font-weight: 600;
    }

    h2 {
      font-size: 12px;
      margin: 0;
      margin-top: 6px;
    }
  }
}
