<ion-toolbar color="primary">
  <ion-buttons>
    <button *ngIf="isLoggedIn()" (click)="openPage('home')" ion-button icon-only>
      <ion-icon class="icon-home" name="icon-home"></ion-icon>
    </button>
    <button *ngIf="isButtonEnabled" (click)="emitButtonClick('filter-menu')" ion-button icon-only>
      <ion-icon class="icon-filter" name="icon-filter"></ion-icon>
      <filter-counter></filter-counter>
    </button>
    <button class="reset-btn" *ngIf="isButtonEnabled" (click)="resetFilters()" ion-button icon-only>
      <ion-icon class="icon-filter" name="icon-filter"></ion-icon>
    </button>
    <button (click)="openPage('preferences')" ion-button icon-only>
      <ion-icon class="icon-preferences" name="icon-preferences"></ion-icon>
    </button>
  </ion-buttons>
  <ion-buttons *ngIf="isLoggedIn()" end>
    <button (click)="logout()" ion-button icon-only>
      <ion-icon class="icon-logout" name="icon-logout"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>
    <h1>
      <ion-icon class="icon-logo" name="icon-logo"></ion-icon>
      NOKIA MN BLACK BOOK
    </h1>
    <h2 *ngIf="info?.lastDataUpdateText">Data source: {{info.lastDataUpdateText}} based on {{info.period}} actuals</h2>
  </ion-title>
</ion-toolbar>
