<ion-content>
  <form [formGroup]="signupForm" (ngSubmit)="singup()" novalidate padding>
    <ion-list>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input [(ngModel)]="signupCredentials.email" formControlName='email' type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input [(ngModel)]="signupCredentials.password" formControlName='password' type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Confirm password</ion-label>
        <ion-input [(ngModel)]="signupCredentials.confPass" formControlName='confPass' type="password"></ion-input>
      </ion-item>
      <ion-item>
        <button type="submit" ion-button block [disabled]="isFormValid(signupForm)">Sign up</button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>