upload-data-page {
  .buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #F8F9FA;

    button.button {
      width: 200px;
      margin: 10px 0;
    }
  }
}