<ion-content>
  <div class="buttons-container">
    <p class="last-update" *ngIf="_updateDate">Last update date: {{_updateDate | date:'mediumDate'}}</p>
    <p class="update-status" *ngIf="_status">{{_status | text}} <ion-spinner style="margin-left: 10px" name="dots"></ion-spinner></p>
    <div *ngIf="!_dataFiles[0]" class="upload-button-wrap">
      <button #dataButton ion-button round>
        <pick-file fileType="text/csv" [emitterElement]="dataButton" (onFileSelected)="pickDataBehaviour($event)" [validator]="isCsvFile" (onWrongType)="wrongFileType()"></pick-file>
        OXYGEN SUBMISSION
      </button>
    </div>
    <div *ngIf="_dataFiles[0]" class="upload-button-wrap">
      <button #histDataButton ion-button round>
        <pick-file fileType="text/csv" [emitterElement]="histDataButton" (onFileSelected)="pickDataBehaviour($event)" [validator]="isCsvFile" (onWrongType)="wrongFileType()"></pick-file>
        EVOLUTION REPORT
      </button>
    </div>
    <div class="upload-button-wrap" style="margin-top: 0px">
      <button #geoCordsButton ion-button round>
        <pick-file fileType="text/csv" [emitterElement]="geoCordsButton" (onFileSelected)="uploadCoords($event)" [validator]="isCsvFile" (onWrongType)="wrongFileType()"></pick-file>
        COORDINATES
      </button>
    </div>
  </div>
</ion-content>