<ion-content>
  <div class="buttons-container">
    <div *ngIf="canUpload()" class="upload-button-wrap">
      <button #dataButton ion-button round>
        <pick-file fileType="text/csv" [emitterElement]="dataButton" (onFileSelected)="uploadData($event, 'data')" [validator]="isCsvFile" (onWrongType)="wrongFileType()"></pick-file>
        CURRENT DATA
      </button>
    </div>
    <div *ngIf="canUpload()" class="upload-button-wrap">
      <button #dataButton ion-button round>
        <pick-file fileType="text/csv" [emitterElement]="dataButton" (onFileSelected)="uploadData($event, 'hist')" [validator]="isCsvFile" (onWrongType)="wrongFileType()"></pick-file>
        HISTORIC DATA
      </button>
    </div>
    <div *ngIf="canUpload()" class="upload-button-wrap" style="margin-top: 0px">
      <button #geoCordsButton ion-button round>
        <pick-file fileType="text/csv" [emitterElement]="geoCordsButton" (onFileSelected)="uploadData($event, 'cords')" [validator]="isCsvFile" (onWrongType)="wrongFileType()"></pick-file>
        COORDINATES
      </button>
    </div>
  </div>
</ion-content>