<ion-content>
  <div class="buttons-container">
    <div *ngIf="!_dataFiles[0]" class="upload-button-wrap">
      <button #dataButton ion-button round>
        <pick-file fileType="text/csv" [emitterElement]="dataButton" (onFileSelected)="pickDataBehaviour($event)" [validator]="isCsvFile" (onWrongType)="wrongFileType()"></pick-file>
        CURRENT DATA
      </button>
    </div>
    <div *ngIf="_dataFiles[0]" class="upload-button-wrap">
      <button #histDataButton ion-button round>
        <pick-file fileType="text/csv" [emitterElement]="histDataButton" (onFileSelected)="pickDataBehaviour($event)" [validator]="isCsvFile" (onWrongType)="wrongFileType()"></pick-file>
        HISTORY DATA
      </button>
    </div>
    <div class="upload-button-wrap" style="margin-top: 0px">
      <button #geoCordsButton ion-button round>
        <pick-file fileType="text/csv" [emitterElement]="geoCordsButton" (onFileSelected)="uploadCoords($event)" [validator]="isCsvFile" (onWrongType)="wrongFileType()"></pick-file>
        COORDINATES
      </button>
    </div>
  </div>
</ion-content>