upload-data-page {
  .update-status, .last-update, .buttons-container, .scroll-content {
    background-color: #F8F9FA;
  }

  .update-status, .last-update {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 14px;
    color: #3B65AD;
  }

  .buttons-container, .data-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .ms & {
      display: -ms-flexbox;
      -ms-flex-align: center;
      -ms-flex-pack: center;
      -ms-flex-direction: column;
    }
  }

  .data-form {
    ion-input {
      width: 200px;
      font-size: 15px;
      line-height: 28px;
      margin: 10px 0;
      float: left;
      background: white;
      border-radius: 4px;
      padding: 0 30px;
      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);

      input.text-input {
        padding-right: initial;

        .ms & {
          height: 28px;
        }
      }
    }
  }

  .buttons-container {
    width: 100%;

    button.button {
      width: 250px;
      margin: 10px 0;

      &.sync-button {
        margin-top: 40px;
      }

      span {
        text-overflow: ellipsis;
        line-height: 24px;
        overflow-x: hidden;
      }

      &.change-field-btn {
        width: auto;
        height: 50px;
      }
    }
  }
}