<ion-list>
  <ion-item class="header">
    <ion-icon class="icon-search" name="icon-search"></ion-icon>
    <ion-toolbar color="light-blue" class="header">
      <ion-title>SEARCH</ion-title>
    </ion-toolbar>
    <ion-toolbar color="light-blue" class="subheader">
      <p>Compare countries, markets or even cities. Start by choosing the search type</p>
    </ion-toolbar>
  </ion-item>
  <ion-item class="categories">
    <ion-segment [ngModel]="category" (ionChange)="changeCategory($event)">
      <ion-segment-button value="Market">
        <ion-icon class="icon-markets" name="icon-markets"></ion-icon>
        MARKETS
      </ion-segment-button>
      <ion-segment-button value="Country">
        <ion-icon class="icon-countries" name="icon-countries"></ion-icon>
        COUNTRIES
      </ion-segment-button>
      <ion-segment-button value="City">
        <ion-icon class="icon-cities" name="icon-cities"></ion-icon>
        CITIES
      </ion-segment-button>
    </ion-segment>
  </ion-item>
  <range-filter *ngIf="range" [title]="'Size filter on selected dimension'" [min]="range.min" [max]="range.max" [currentValue]="range.value" (onChange)="setRange($event)"></range-filter>
  <ion-item class="search-input">
    <ion-label><ion-icon class="icon-search" name="icon-search"></ion-icon></ion-label>
    <ion-input [(ngModel)]="searchValue" type="text" placeholder="Start typing a country here" value=""></ion-input>
  </ion-item>
  <ion-item class="applied-places">
    <applied-places [filters]="appliedPlaces" (onFilterRemoved)="removePlace($event)"></applied-places>
  </ion-item>
  <ion-item class="options">
      <ion-list>
        <button (debounceClick)="addPlace(place)" [delay]="200" ion-item *ngFor="let place of placesList | search:searchValue">
          {{place}}
        </button>
      </ion-list>
  </ion-item>
</ion-list>