$colors: (
  primary: #0B409C,
  secondary: #A7C1E3,
  light: #E2E8F0,
  dark: #47494D,
  dark-blue: #173567,
  light-blue: #3B65AD,
  ui-light: #ECEFF4,
  page-background: #F8F9FA
);

user-management-page {
  ion-content.content {
    background-color: map-get($colors, "page-background");

    &>div.scroll-content {
      width: 520px;
      margin: auto;
    }

    div.add-button-wrap {
      justify-content: flex-end;
      display: flex;
      align-items: center;
      padding: 15px 32px;

      &>span {
        font-size: 13px;
        font-weight: bold;
        color: map-get($colors, 'light-blue');
        margin-right: 15px;
      }
    }

    ion-list {
      width: 450px;
      margin: auto;
      &>ion-item.item.item-block:first-child {
        div.item-inner {
          border: none;
        }
      } 
      &>ion-item.item.item-block {
        width: 450px;
        border-bottom: none;
        border: none;
        padding: 0;
        background: transparent;
        margin: initial;
        color: map-get($colors, 'light-blue');
        border-radius: 5px;

        h1 {
          font-size: 16px;
          color: #173567;
        }

        h2 {
          font-size: 14px;
          color: map-get($colors, "ight-blue")
        }

        div.item-inner {
          padding: 10px 10px 10px 25px;
          border: none;
        }

        &.selected {
          height: 79px;
          box-shadow: 1px 0px 20px 0px rgba(0, 0, 0, 0.05);

          div.item-inner {
            background: #fff;
            box-shadow: 10px 0px 20px 0px rgba(0,0,0,0.1);

            button.button {
              margin: 0;
              padding: 20px;
              border-radius: initial;
              padding-right: 20px;
              border-right: 1px solid #E2E8F0;

              &:last-child {
                border-right: none;
                padding-right: 10px;
              }
            }
          }
        }

        &.deleting {
          h1 {
            text-align: center;
          }
          div.item-inner {
            div.buttons {
              width: 123px;
              margin: auto;
              button.button {
                padding: 10px;
              }
            }
          }
        }
      }
    }
  }
}