<ion-header>
  <header></header>
  <ion-toolbar class="subheader">
    <button id="add-user-button" (click)="addUser()" ion-button round>+</button>
    <label for="add-user-button">ADD USER</label>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <template ngFor let-u [ngForOf]="usersCtrl.users$ | async">
      <ion-item *ngIf="!isDeleting(u._id)" (click)="selectedItem = u">
        <h2>{{u.emails[0].address}}</h2>
        <h3>{{u.roles[0]}}</h3>
        <button (click)="editUser(u)" ion-button small clear item-right icon-only>
          <ion-icon class="icon-edit" name="icon-edit"></ion-icon>
        </button>
        <button (click)="userToDelete = u" ion-button small clear item-right icon-only>
          <ion-icon class="icon-delete" name="icon-delete"></ion-icon>
        </button>
      </ion-item>
      <ion-item *ngIf="isDeleting(u._id)">
        Delete {{u.emails[0].address}} account?
        <button (click)="deleteUser(u._id)" ion-button small clear item-right icon-only>
          <ion-icon class="icon-check" name="icon-check"></ion-icon>
        </button>
        <button (click)="userToDelete = null" ion-button small clear item-right icon-only>
          <ion-icon class="icon-cross" name="icon-cross"></ion-icon>
        </button>
      </ion-item>
    </template>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar class="subfooter">
    <pagination [allUsersCount]="usersCtrl.usersCount$ | async" [limit]="usersLimit" (onSelect)="setPage($event)"></pagination>
  </ion-toolbar>
  <footer [activeButtonTitle]="'user-management'" [preventNav]="['user-management']"></footer>
</ion-footer>