fact-sheet {
  $table-color: rgb(236,242,245);
  $table-grey: rgb(213,220,228);
  $head-grey: rgb(151,162,175);
  $bu-grey: rgb(189,200,211);
  $dark-grey: rgb(76,86,103);
  $table-blue: rgb(25,55,147);
  $table-border-color: rgb(219,235,248);

  .bold {
    font-weight: bold;
  }

  .dark-grey {
    @extend .bold;
    background-color: $dark-grey;
    color: #fff;
  }

  .blue {
    @extend .dark-grey;
    background-color: $table-blue;
  }

  .head-grey {
    @extend .bold;
    background-color: $head-grey;
  }

  .bu {
    @extend .bold;
    background-color: $bu-grey;
    text-align: left;
  }

  th.bu {
    text-align: center;
  }

  .table-grey {
    @extend .bold;
    background-color: $table-grey;
  }

  .clear {
    color: black;
    font-weight: normal;
    background-color: $table-color;
    &.grey {
      @extend .bold;
      background-color: $table-grey;
    }
  }

  .initial-width {
    max-width: 40px;
    min-width: initial;
    width: initial;
  }

  .tb-bold {
    border-top: 3px solid #fff;
  }

  position: absolute;
  top: 30px;
  left: 0;
  margin: 0 auto;
  right: 0;
  width: 92%;
  table {
    background: $table-color;
    line-height: 30px;
    margin: auto;
    border: 10px solid $table-border-color;
    border-bottom: none;

    th, td {
      font-size: 11px;
      border: 1px solid #fff;
      text-align: right;
      line-height: 19px;
      padding: 0 4px;
      width: 60px;
      min-width: 30px;
      max-width: 70px;
      font-family: 'Nirmala UI';
    }

    th {
      text-align: center;
      font-weight: normal;
    }

    tfoot {
      tr, td {
        border: none;
      }

      td {
        background-color: #dbebf8;
      }
    }
  }

  .colored:after {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    bottom: -3px;
    right: 0%;
    margin: auto;
  }

  .colored.red:after {
    background-color: rgb(189,61,62);
  }

  .colored.orange:after {
    background-color: rgb(227,136,12);
  }

  .colored.yellow:after {
    background-color: rgb(255,196,1);
  }

  .legend{
    position: relative;
    font-size: 8px;
    text-align: right;
    top: -5px;
    height: 10px;
    padding-right: 10px;

    & .colored:after {
      width: 8px;
      height: 8px;
      border-radius: 8px;
      bottom: -2px;
    }
  }

    @media (max-width: 830px) {
      & {
        top: 0;
        position: fixed;
        width: 100%;

        table {
          border: none;

          th, td {
            line-height: 15px
          }

          tfoot {
            display: none;
          }
        }
      }
    }
}