fact-sheet {
  $table-color: rgb(236,242,245);
  $table-grey: rgb(213,220,228);
  $head-grey: rgb(151,162,175);
  $bu-grey: rgb(189,200,211);
  $dark-grey: rgb(76,86,103);
  $table-blue: rgb(25,55,147);
  $table-border-color: rgb(219,235,248);

  .bold {
    font-weight: bold;
  }

  .dark-grey {
    @extend .bold;
    background-color: $dark-grey;
    color: #fff;
  }

  .blue {
    @extend .dark-grey;
    background-color: $table-blue;
  }

  .head-grey {
    @extend .bold;
    background-color: $head-grey;
  }

  .bu {
    @extend .bold;
    background-color: $bu-grey;
    text-align: left;
  }

  th.bu {
    text-align: center;
  }

  .table-grey {
    @extend .bold;
    background-color: $table-grey;
  }

  .clear {
    color: black;
    font-weight: normal;
    background-color: $table-color;
    &.grey {
      @extend .bold;
      background-color: $table-grey;
    }
  }

  .initial-width {
    max-width: 30px;
    min-width: initial;
    width: initial;
  }

  position: absolute;
  top: 30px;
  left: 0;
  margin: 0 auto;
  right: 0;
  width: 92%;
  table {
    background: $table-color;
    line-height: 30px;
    margin: auto;

    th, td {
      font-size: 13px;
      border: 1px solid #fff;
      text-align: right;
      line-height: 19px;
      padding: 0 6px;
    }

    th, td {
      &.color-lable > h3 {
        text-align: right;
        &:before {
          content: '';
          width: 10px;
          height: 10px;
          border-radius: 10px;
          background-color: transparent;
          display: inline-block;
          position: relative;
          bottom: 0px;
          right: 1%;
          margin: auto;
        }

        &.yellow:before {
          background-color: rgb(255,196,1);
        }

        &.red:before {
          background-color: rgb(189,61,62);
        }
      }

      width: 60px;
      min-width: 60px;
      max-width: 70px;
    }

    th {
      text-align: center;
      font-weight: normal;
    }

    // tr {
    //   &:first-child {
    //     th:first-child, th:last-child {
    //       border-bottom: none;
    //     }
    //   }
    //   &+tr{
    //     th:first-child, th:last-child {
    //       border-top: none;
    //     }
    //   }
    // }

    td.colored:after {
      content: '';
      width: 15px;
      height: 15px;
      border-radius: 15px;
      background-color: transparent;
      display: inline-block;
      position: relative;
      bottom: -3px;
      right: 0%;
      margin: auto;
    }

    td.colored.red:after {
      background-color: rgb(189,61,62);
    }

    td.colored.orange:after {
      background-color: rgb(227,136,12);
    }

    td.colored.yellow:after {
      background-color: rgb(255,196,1);
    }
  }
}