<div (click)="close()" class="overlay"></div>
<ion-card>
  <ion-card-header>
    <div class="card-header">
      <p>BU-SPECIFIC LOCATION INFO: <span class="title">{{selectedItem[entityKey]}}</span></p>
      <ion-buttons end>
        <button (click)="openOverviewSheet()" ion-button>OVERVIEW</button>
        <button class="active" ion-button>FACT SHEET</button>
      </ion-buttons>
    </div>
  </ion-card-header>
  <ion-card-content>
    <table>
      <thead>
        <tr>
          <th [attr.rowspan]="p.rowspan" [attr.colspan]="p.colspan" [class]="p.class" *ngFor="let p of periods">
            {{p.title}}
          </th>
        </tr>
        <tr>
          <template ngFor let-col [ngForOf]="columnsDescs">
            <th *ngIf="col.title" [ngClass]="col.class">
              {{col.title}}
            </th>
          </template>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rowsDescs">
          <td *ngIf="row.title" class="bu">{{row.title}}</td>
          <!--<td *ngFor="let col of columnsDescs|exclude:[lastColumnsDesc]" [ngClass]="[col.class || '', row.class || '']">-->
          <td *ngFor="let col of columnsDescs" [ngClass]="[col.class || '', row.class || '']">
            {{getCellValue(row, col) | sep}}
          </td>
          <td [ngClass]="[lastColumnsDesc.class || '', row.class || '']">{{getCellValue(row, lastColumnsDesc)|percentage}}</td>
          <td [ngClass]="[lastColumnsDesc.class || '', row.class || '', 'initial-width']" [colored]="getCellValue(row, lastColumnsDesc)"></td>
        </tr>
        <!--<tr>
          <td class="color-lable" colspan="12">
            <h3 class="yellow">More than 25% net down of P01'17 HC</h3>
          </td>
        </tr>
        <tr>
          <td class="color-lable" colspan="12">
            <h3 class="red">More than 50% net down of P01'17 HC</h3>
          </td>
        </tr>-->
      </tbody>
    </table>
    <!--<table>
      <thead>
        <tr class="row-color-4">
          <th>In HC</th>
          <th *ngFor="let col of columnsDescs" class="t-right">
            {{col.title}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="{{row.color}}" *ngFor="let row of rowsDescs | exclude:excludedRowsDescs">
          <td>{{row.title}}</td>
          <td *ngFor="let col of columnsDescs">
            {{getCellValue(row, col)}}
          </td>
        </tr>
        <tr class="{{row.color}}" *ngFor="let row of excludedRowsDescs">
          <td>{{row.title}}</td>
          <td [colored]="getCellValue(row, col)" *ngFor="let col of columnsDescs;">{{getCellValue(row, col)|percentage}}</td>
        </tr>
      </tbody>
    </table>-->
  </ion-card-content>
</ion-card>