fact-sheet {
  position: absolute;
  top: 30px;
  left: 0;
  margin: 0 auto;
  right: 0;
  width: 92%;
  table {
    background: #fff;
    line-height: 30px;

    th, td {
      font-size: 13px;
      border: 1px solid #c1c1c1;
      text-align: right;
      line-height: 19px;
      padding: 0 2px;
    }

    td:first-child {
      text-align: left;
      font-weight: bold;
    }

    th, td {
      &.l-border {
        border-left: 2px solid black;
      }

      &.r-border {
        border-right: 2px solid black;
      }

      &.b-border {
        border-bottom: 1px solid black;
      }

      min-width: 50px;
      max-width: 70px;
    }

    th {
      text-align: center;
      background: gray;
      color: #fff;
      font-weight: normal;

      &.background-light {
        background: #E2E8F0;
        color: black;
      }
    }

    tr {
      &:first-child {
        th:first-child, th:last-child {
          border-bottom: none;
        }
      }
      &+tr{
        th:first-child, th:last-child {
          border-top: none;
        }
      }
    }

    thead {
      tr:last-child {
        th {
          border-bottom: 1px solid black;
        }
      }
    }

    // td:last-child, th:last-child {
    //   padding: 0 5px;
    // }

    td.colored:after {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background-color: transparent;
      display: inline-block;
      position: relative;
      bottom: 0px;
      right: 40%;
      margin: auto;
    }

    td.colored.red:after {
      background-color: rgb(189,61,62);
    }

    td.colored.orange:after {
      background-color: rgb(227,136,12);
    }

    td.colored.yellow:after {
      background-color: rgb(255,196,1);
    }
  }
}