<!--<ion-toolbar>
  <ion-segment [(ngModel)]="activeButtonTitle" (ionChange)="selectPage($event)">
    <ion-segment-button value="home">
      <ion-icon class="icon-map" name="icon-map"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="swichers">
      <ion-icon class="icon-filter" name="icon-filter"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="profile-settings">
      <ion-icon class="icon-preferences" name="icon-preferences"></ion-icon>
    </ion-segment-button>
    <ion-segment-button *ngIf="isAdmin()" value="user-management">
      <ion-icon class="icon-user" name="icon-user"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>-->

<bu-filter></bu-filter>
