/* Fact Sheets Start */
.hm_3 {
    background: #FFFF66!important;
}

.hm_2 {
    background: yellow!important;
}

.hm_1 {
    background: pink!important;
}

.table-div .table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}


.table-div .table {
    margin-bottom: 11px;
}

.table-div-inner {
    margin-top: 12px;
}

.table-whole {
  position: fixed;
  left: 191px;
  background: red;
  padding: 10px 10px 10px 10px;
  min-height: 12px;
  float: left;
  width: 638px;
  min-height: 251px;
  color: #222;
  background: #fff;
  padding: .5em;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  opacity: 0.95;
}


.table-div,
.table-div-inner {
  width: 620px;
  position: fixed;
  left: 200px;
  background: #ABABAB;
}
.bottom-data {
  width: 100%;
  float: left;
}
.table-div-inner {
  float: left;
  padding: 6px!important;
}
.button-align {
    float: right;
    margin-bottom: 8px;
    background: red;
    border: 1px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}
.close_button:hover
{
    background: red;
    color: white;
}
.row1 {
  background: #04368C!important;
  color: white;
}
.row2 {
  background: #BEC8D2!important;
}
.row3 {
  background: #5B9BD5!important;
}
.row4 {
  background: #5B9BD5!important;
}
.row5 {
  background: #DCE6F1!important;
}
.table-div-inner p {
  text-align: center;
  font-size: 10px;
}
.table2 .table-div {
  width: 60%!important;
}
.table2 .col-sm-4 {
  padding-left: 0px!important;
  padding-right: 2px!important;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border: 1.5px dotted white!important;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 3px!important;
    font-size: 10px;
}
.b1 {
  position: relative;
  display: block;
  top: 0;
  bottom: 0;
  width: 1.5em;
  background: #D1D3D4;
  height: 10px;
  float: left;
}
.b2 {
  float: left;
  position: relative;
  font-size: 8px;
  padding: 0 5px;
}
/* Fact Sheets End */