<form [formGroup]="userForm" (ngSubmit)="editUser()" novalidate>
    <h1>{{email}}</h1>
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="userCredentials.email" formControlName='email' placeholder="E-mail" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="userCredentials.password" formControlName='password' placeholder="Password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="userCredentials.confPass" formControlName='confPass' placeholder="Confirm password" type="password"></ion-input>
      </ion-item>
      <ion-item class="select">
        <ion-label>Role</ion-label>
        <ion-select [(ngModel)]="userCredentials.roleId" formControlName='roleId' placeholder="Role">
          <ion-option *ngFor="let role of roles" [value]="role.id">{{role.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <button type="submit" ion-button [disabled]="isFormValid(userForm)">SAVE</button>
        <button class="secondary button-clear" (click)="close()" ion-button type="button">CANCEL</button>
      </ion-item>
    </ion-list>
  </form>