<ion-header>
  <ion-toolbar>
    <ion-buttons end>
      <button (click)="menuToggle()" ion-button icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="no-scroll">
  <world-map [map-width]="mapWidth" [map-height]="mapHeight" [zoom-on-update]="true" [data-to-draw]="dataProvider.data$ | async"
    (data-click)="showOverview($event)"></world-map>
  <data-filter [data]="dataProvider.data$ | async" (onFilterChange)="getFilteredData($event)"></data-filter>
  <sheets-portal></sheets-portal>
</ion-content>