.no-scroll .scroll-content {
  overflow: hidden;
  @media (max-width: 830px) {
    & {
      z-index: 10;
      overflow: visible;
    }
  }
}

.swipe-menu-overlay {
  position: absolute;
  height: 100%;
  width: 15%;
}
