<ion-list>
  <ion-item>
    <ion-label>Region</ion-label>
    <ion-select [(ngModel)]="currentMarket" (ionChange)="applyFilterMarket($event)">
      <ion-option *ngFor="let market of markets">{{market}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Country</ion-label>
    <ion-select [(ngModel)]="currentCountry" (ionChange)="applyFilterCountry($event)">
      <ion-option *ngFor="let country of countries">{{country}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>City</ion-label>
    <ion-select [(ngModel)]="currentCity" (ionChange)="applyFilterCity($event)">
      <ion-option *ngFor="let city of cities">{{city}}</ion-option>
    </ion-select>
  </ion-item>
</ion-list>