<ion-fab class="filter" *ngIf="data && !isFilterVisible">
  <button ion-fab icon color="primary" (click)="isFilterVisible = !isFilterVisible">
    <ion-icon name="funnel"></ion-icon>
  </button>
</ion-fab>
<ion-card *ngIf="isFilterVisible">
  <ion-card-header>
    <ion-segment [(ngModel)]="category" (ionChange)="changeCategory()">
      <ion-segment-button value="market">
        MARKETS
      </ion-segment-button>
      <ion-segment-button value="country">
        COUNTRIES
      </ion-segment-button>
      <ion-segment-button value="city">
        CITIES
      </ion-segment-button>
    </ion-segment>
  </ion-card-header>
  <ion-card-content>
    <ion-input [(ngModel)]="searchValue" type="text" placeholder="What you search?" value=""></ion-input>
    <applied-filters [filters]="filters" (onFilterRemoved)="removeOption($event)"></applied-filters>
    <ion-scroll scrollY="true">
      <ion-list>
        <button (click)="selectOption(option)" ion-item *ngFor="let option of options | search:searchValue">
          {{option}}
        </button>
        <!--<ion-item *ngFor="let key of labels | objAsArr:true">
        <ion-label>{{labels[key]}}</ion-label>
        <ion-select [(ngModel)]="filter[key]" [multiple]="true" [selectOptions]="selectOptions" (ionChange)="handleSelectChange($event)">
          <ion-option *ngFor="let option of getOptions(key)">{{option}}</ion-option>
        </ion-select>
      </ion-item>-->
      </ion-list>
    </ion-scroll>
    <button ion-button block small (click)="isFilterVisible = !isFilterVisible">
          Hide
    </button>
  </ion-card-content>
</ion-card>